<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.applicationHost>
    <sites>
      <site name="WebsiteGym.Web" id="1">
        <application path="/">
          <virtualDirectory path="/" physicalPath="C:\site" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:44336:localhost" />
        </bindings>
      </site>
      <siteDefaults>
        <logFile logFormat="W3C" directory="%IIS_USER_HOME%\Logs" />
        <traceFailedRequestsLogging enabled="true" directory="%IIS_USER_HOME%\TraceLogFiles" />
      </siteDefaults>
    </sites>
    <applicationPools>
      <add name="Clr4IntegratedAppPool" managedRuntimeVersion="v4.0" />
    </applicationPools>
  </system.applicationHost>
</configuration>
